.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.block {
  background-color: grey;
  width: 60rem;
  height: 10rem;
  border-radius: 32px;
  position: relative;
  text-align: center;
}

.block:hover{
  background-color: lightblue;
}

.feature_title_block {
  background-color: grey;
  width: 60rem;
  height: 20vh;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  text-align: center;
  justify-content: center;
}


.feature_options_block {
  background-color: grey;
  width: 60rem;
  height: 10vh;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.feature_info_block {
  background-color: grey;
  width: 60rem;
  height: 55vh;
  border-radius: 32px;
}

.feature-contents {
  float: left;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-tasklist {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100px;
}

.sprint-list {
  float: right;
  display: inline;
  margin-top: 30px;
  margin-right: 50px;
  padding: 10px;
  font-size: medium;
  max-width: 190px;
  max-height: 150px;
}

.check-label {
  margin-left: 5px;
  margin-right: 5px;
}

.track-img{
  margin: 10px;
  height: 350px; 
  width:400px;
}