.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #F1F2F4;
}

.main-content {
  margin: 1rem 5rem 1rem 5rem;
  width: 100rem;
  height: auto;
}

.title-card {
  background-color: white;
  height: 15%;
  width: 100%;
  border-radius: 15px;
}

.content-100w-card {
  background-color: white;
  height: 45%;
  width: 100%;
  border-radius: 15px;
  box-shadow: inset;
  margin-top: 1rem;
}

.content-60w-card {
  background-color: white;
  width: 59%;
  height: 40%;
  border-radius: 15px;
  box-shadow: inset;
  margin-top: 1rem;
}

.content-40w-card {
  background-color: white;
  width: 39%;
  border-radius: 15px;
  box-shadow: inset;
  margin-top: 1rem;
}

.content-50w-card {
  background-color: white;
  width: 49%;
  border-radius: 15px;
  box-shadow: inset;
  margin-top: 1rem;
}

.content-small-height {
  height: 35%;
}

.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.block {
  background-color: grey;
  width: 100%;
  height: 10rem;
  border-radius: 32px;
  position: relative;
  text-align: center;
}

.block:hover{
  background-color: lightblue;
}

.feature_title_block {
  background-color: grey;
  width: 100%;
  height: 20vh;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  text-align: center;
  justify-content: center;
}

.innerContent {
  margin: 10%;
  text-align: left;
}

.indented {
  margin-left: 2rem
}

.feature_options_block {
  background-color: grey;
  width: 100%;
  height: 10vh;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.feature_info_block {
  background-color: grey;
  width: 60rem;
  height: 55vh;
  border-radius: 32px;
}

.sprints-index {
  overflow-y: scroll;
}